.btn-primary {
    background-color: #6a0dad;
    border-color: #6a0dad;
}
.btn-primary:hover {
    background-color: #550a8a;
    border-color: #550a8a;
}

.navbar-primary {
    background-color: #550a8a;
    border-color: #550a8a;
}

.btn-w40 {
    width: 40px;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.collapsible {

}